@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --green: #6d7d5d;
  --brown: #5a483c;
  --light: #9e6b38;
  --blue: #1b393d;
  --grey: #9d9ca1:
}

.body{
  font-family: "Kantumruy Pro", sans-serif;
}

.button-pink{
  background-color: var(--pink) !important;
  padding: 10px 20px;
  color: white !important;
  border-radius: 5px; 
  border: none !important;
}

.button-pink:hover {
  background-color: #e20599 !important;
  color: white !important;
}

.NavBar {
  background-color: var(--brown) !important;
  position: sticky;
  font-family: "Kantumruy Pro", sans-serif;
}

.NavBarBrand {
  font-family: 'Poetsen One', 'Arial';
  color: var(--light) !important;
  font-weight: 500;
}

.NavBar .nav-link {
  color: black !important;
  font-weight: 500;
}

.NavBar .nav-link:hover {
  color: var(--light) !important; 
}

.NavBar .nav-link.active {
  color: var(--blue) !important; 
}

.home-page{
  margin-top: 60px;

}


/* FOOTER STYLES */

.footer {
  background-color: var(--brown);
  color: white;
  border-top: 4px solid var(--pink);
}

.footer h5 {
  font-weight: 700;
  color: var(--pink);
}

.footer-links a {
  display: inline-block;
  margin: 0 10px;
  color: var(--light);
  font-weight: 500;
  text-decoration: none; 
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-icons a {
  margin: 0 8px;
  font-size: 1.3rem;
  color: var(--pink);
}

.footer-icons a:hover {
  color: #d457a5;
}

footer p {
  margin: 0;
}